*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 80px;
    position: absolute;
    right: 10px;
    left: 10px;
}

.left-side-header, .right-side-header{
    
    align-items: center;
}

.left-side-header{
    display: flex;
    margin-left: 80px;
    align-items: center;
    gap: 32px;
}

.logo, .logo-snimka, .logo-text{
    display: flex;
    
}

.logo{
    align-items: center;
    gap: 10px;
    width: 140px;
    height: 29px;
}

.left-side-text{
    display: flex;
    gap: 32px;

    color: #000;
font-family: Manrope;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.15px;
display: flex;
align-items: center;
flex: 1;
}

.right-side-header{
    display: flex;
    margin-right: 10px;
    justify-content: right;
    
}

.button-karta{
    display: inline-flex;
padding: 16px 32px;
justify-content: right;
align-items: center;
gap: 8px;
margin-right: 10px;

border-radius: 32px;
border: 1px solid var(--primary, #2E2EC8);
background: var(--backgrounds-l-0, #FFF);

}
.kolio{
    flex:1;
}

.button.text{
    color: var(--primary, #2E2EC8);


font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}